* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1145px;
  margin: 0 auto;
}

.list-header {
  list-style: none;
  text-align: center;
}

.item-header {
  padding: 25.5px 0;
  display: inline-block;
}

.item-header + .item-header {
  margin-left: 72px;
}
.item-header:last-child {
  margin-left: 50px;
}

.item-header-link {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
}

.images-main {
  width: 100%;
}

.heading {
  margin-top: 49px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  color: #373737;
}

.section-main-first {
  margin-top: 38px;
}

.description-section {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #373737;
}

.section-main-second {
  margin-top: 28px;
}

.position-btn {
  margin-top: 66px;
  margin-bottom: 42px;
  text-align: center;
}

.btn {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  min-width: 191px;
  padding: 18px 42.5px 17px 43.5px;
  border-radius: 5px;
  background-color: #ff0000;
  text-transform: uppercase;
  border: none;
}

.text-footer {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #373737;
  padding: 40px 0 29px;
}
